body {
  background: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1 {
  color: white;
}

body h2 {
  color: white;
}

.padded {
  padding-top: 10px;
  padding-bottom: 5px;
}

.list-group {
  padding-right: 0px;
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}
