
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$highlight-color: #F05F40;

$dark-highlight-color: #b34830;

$standard-text-color: white;

$light-highlight-color: #e6755c;

$light-highlight-hover-color: #b35b47;

$bootstrap-blue: #007bff;
