
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

.btn-success{
  font-size: 20px;
  background-color: $light-highlight-color;
  border-color: $light-highlight-color;
  color: $standard-text-color;
}

.btn-success:focus, .btn-success:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: $light-highlight-hover-color !important;
  border-color: $light-highlight-hover-color !important;
}

.btn-primary:focus, .btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: $dark-highlight-color !important;
  border-color: $dark-highlight-color !important;
}

.btn-success:hover{
  background-color: $light-highlight-hover-color;
  border-color: $light-highlight-hover-color;
}

.btn-primary{
  background-color: $highlight-color;
  border-color: $highlight-color;
  color: $standard-text-color;
  font-size: 16px;
  max-width: 75px;
}

.btn-primary:hover{
  background-color: $dark-highlight-color;
  border-color: $dark-highlight-color;
}

.navbar-dark .navbar-nav .nav-link{
  color: $standard-text-color;
}

.fas{
  color: $light-highlight-color;
}
