@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.btn-success {
  font-size: 20px;
  background-color: #e6755c;
  border-color: #e6755c;
  color: white;
}

.btn-success:focus,
.btn-success:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #b35b47 !important;
  border-color: #b35b47 !important;
}

.btn-primary:focus,
.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #b34830 !important;
  border-color: #b34830 !important;
}

.btn-success:hover {
  background-color: #b35b47;
  border-color: #b35b47;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
  color: white;
}

.btn-primary:hover {
  background-color: #b34830;
  border-color: #b34830;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.fas {
  color: #e6755c;
}

